body {
	font: 24px sans-serif;
	margin: 20px;
}

.game {
	display: flex;
	flex-direction: column;
}

/* Cell grid */

.grid {
	margin: 0 auto;
}

.grid-row:after {
	clear: both;
	content: "";
	display: table;
}

.cell {
	border: 1px solid #aaaaaa;
	float: left;
	height: 12px;
	width: 12px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
}

.cell.live {
	background: #000000;
}

.cell.dead {
	background: #ffffff;
}

.cell:hover {
	border: 3px solid #00a4ff;
}

/* Control bar */

.control-bar {
	margin: 0 auto;
	margin-top: 12px;
}

.icon {
	height: 32px;
	width: 32px;

	margin: 16px;
}

.icon:hover {
	filter: invert(47%) sepia(93%) saturate(2120%) hue-rotate(174deg) brightness(98%) contrast(112%);
}

/* Generation display */

.generation {
	margin: 0 auto;
}