body {
	font: 24px sans-serif;
	margin: 20px;
}

.game {
	display: flex;
	flex-direction: column;
}

/* Cell grid */

.grid {
	margin: 0 auto;

	border: 4px solid #f00; /* debug border */
}

.grid-row:after {
	clear: both;
	content: "";
	display: table;
}

.cell {
	border: 1px solid #aaa;
	float: left;
	height: 16px;
	width: 16px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
}

.cell.live {
	background: #000;
}

.cell.dead {
	background: #fff;
}

.cell:hover {
	border: 3px solid #99f;
}

/* Control bar */

.control-bar {
	margin: 0 auto;

	border: 4px solid #f00; /* debug border */
}

button.control {
	border: 1px solid #aaa;
	float: left;
	height: 16px;
	width: 16px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
}